@model ProFinalEstudiantes.Models.COLA_ESTUDIANTES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COLA_ESTUDIANTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_ESTUDIANTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_ESTUDIANTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ADICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ADICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTUDIANTE.CARNET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTUDIANTE.CARNET)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
